.btn-quote {
    font-size: 1.75rem !important;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "Oswald", sans-serif !important;
    line-height: 1.2 !important;
  }

  .btn-quote-2 {
    font-size: 1.5rem !important;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "Oswald", sans-serif !important;
    line-height: 1.2 !important;
  }
  
  .text-sm {
    font-size: 0.8rem !important;
  }
  
  .service-content {
    position: absolute;
    right: 0%;
    top: 50%;
    width: 1000px;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
  }

@media (max-width: 768px) {
    .silder-content, .service-content {
      position: static;
      transform: none;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
    .content-wrapper {
      display: block;
    }
  }