


.btn-quote {
    font-size: 1.75rem !important;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "Oswald", sans-serif !important;
    line-height: 1.2 !important;
  }

  .btn-quote-2 {
    font-size: 1.5rem !important;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "Oswald", sans-serif !important;
    line-height: 1.2 !important;
  }
  
  .text-sm {
    font-size: 0.8rem !important;
  }
  
  .service-content {
    position: absolute;
    right: 0%;
    top: 50%;
    width: 1000px;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
  }

  @media only screen and (max-width: 1600px) {
    .silder-three .silder-content .title {
      font-size: 42px; 
    }
    .btn-quote {
      font-size: 22px!important;
    }
    .service-content {
      width: 880px;
    }
  }
  
  @media only screen and (max-width: 1460px) {
    .service-content {
      width: 750px;
    }
    .flip-bx .front, .flip-bx .back {
      min-height: 275px;
    }
    .service-icon {
      display: none;
    }
    .service-title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    .service-text {
      font-size: 10px!important;
    }
  }

  @media only screen and (max-width: 1320px) {
    .silder-three .silder-content {
      left: 5%;
      top: 50%;
      width: 500px;
   }
   .media-query {
    justify-content: space-evenly!important;
   }
  }

  @media only screen and (max-width: 1215px) {
     .service-content {
      width: 100%;
      top: 80%;
    }
    
    .silder-three .silder-content {
      left: 11.5%;
      right: 0;
      top: 36%;
      width: 60%;
   }
  }

  @media only screen and (max-width: 975px) {
    .service-content {
     width: 80%;
     top: 80%;
     right: 8.5%;
   }
 }

  @media (min-width: 1024px) {
    .logo-resize {
      width: 180px;
    }
  }

  @media (max-width: 768px) {
    .silder-content, .service-content {
      position: static;
      transform: none;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
    .content-wrapper {
      display: block;
    }
    
    .logo-resize {
      width: 120px;
    }

    .silder-three .silder-content {
      left: 20%;
      top: 30%;
   }
   .silder-three .silder-content .title {
    font-size: 32px; 
    }
  .btn-quote {
    font-size: 14px!important;
  }
  }

  @media (min-width: 600px) {
    .logo-resize {
      width: 160px;
    }
  }

  @media (max-width: 500px) {
    .silder-three .silder-content {
      width: 90%;
      top: 30%;
      left: 10%;
   }
   .silder-three .silder-content .title {
    font-size: 32px; 
    }
  .btn-quote {
    font-size: 14px!important;
  }
  }

  
